<div id="app">
  {{ message }}

  <div id="code">
    <div class="text-container">
      <textarea v-bind:style="{color: colors[index]}" rows="10" cols="50" v-for="(code, index) in codes" v-bind:id="{id: index}" v-model="codes[index]">
      </textarea>
      <i v-on:click="analyzeCode()" class="material-icons">settings</i>
      <i v-on:click="addCodeBox()" class="material-icons">add</i>
    </div>

      
  </div>
  <div id="result">
    <p>Number Of Steps: {{ results }}</p>
  </div>

  <line-chart :chart-data="chartData" :options="options" width="1000"></line-chart>
</div>